@using HelpMe.Domain.Entities
@model IEnumerable<User>
@{
    ViewBag.Title = "Users";
}

@foreach (var p in Model)
{
    <div>
        <h3>@p.Name</h3>
        @p.Surname
        @p.Age
        <h4>@p.Country</h4>
    </div>
}

