
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LeftBar</title>
</head>
<body>
    <div> 
        @Html.ActionLink("AddEvent", "AddEventForm", "UserHomePanel", null, new { @class = "btn btn-block btn-default btn-lg"})
    </div>
</body>
</html>
